:root {
    --main-color: #7755FE;
    --hover-color: #6447da;
    --main-font: "Poppins", sans;
}
body {
    margin: 0 auto;
}

.page-content {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
}

.navbar {
    font-family: var(--main-font);
}

.navbar-brand {
    font-family: var(--main-font);
}

.hero-greeting {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 48px;
}

.hero {
    margin-left: 60px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    gap: 80px;
    font-size: 32px;
}

.section-heading {
    font-size: 48px;
    font-weight: bolder ;
    margin: 80px auto 68px auto;
    text-align: center;
}
    
.section-description {
    font-size: 32px;
    display: block;
    margin: 0 20px;
    text-align: center;
    }

.hero-content-wrapper {
    flex-direction: column;
}

.hero-contact {
    margin-top: 48px;
}

.hero-contact-link {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    border-radius: 32px;
    padding: 16px 24px 16px 32px; 
}

.hero-contact-link:hover {
    color: white;
    background-color: var(--hover-color);
    text-decoration: none;
}

.profile-pic {
    max-width: 285px;
    display: flex;
    align-self: flex-end;
}

.projects-content {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.row {
    margin: 0;
}

.project-name {
    font-weight: bolder;
    font-size: 40px;
}

.project-logo {
    max-height: 50px;
}

.project-row {
margin-top: 110px;
/* column-gap: 20px; */
}

.project-row:first-child {
    margin-top: 35px;
}

.project-item {
    vertical-align: middle;
    text-align: right;
    align-items: center;
}
.project-date {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin: 7px 0;
}

.project-item:nth-child(2) {
    text-align: left;
}

.project-picture {
    max-width: 100%;
    vertical-align: middle;
    padding: 0;
}

.skills-certificates-wrapper {
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-left: 200px;
}

.skill-column {
    align-items: left;
}

.skill-row {
    justify-content: center;
    margin-bottom: 30px;
}

.skill-heading {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: left;
}

.skill-description {
    text-align: left;
    margin: 0 0 10px 0;
    gap: 10px;
    align-items: center;
}

.skill-image {
    max-height: 80px;
}
.skill-image-js {
    max-height: 70px;
}

.skill-image-vscode {
    max-height: 60px;
}

.story-heading {
    margin-bottom: 27px;
}

.milestone {
    margin-top: 65px;
    row-gap: 10px;
    display: grid;

}

.milestones-wrapper {
    margin-top: 80px;
}

.milestone-headline {
    align-items: flex-end;
    justify-content: center;
}

.milestone-logo-img {
    max-height: 60px;
}

.milestone-logo-img-aiesec {
    max-height: 40px;
}

.milestone-name {
    padding: 0;
    font-weight: bolder;
    font-size: 40px;
}

.milestone-year {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    font-size: 18px;
    margin-top: 140px;
    margin-bottom: 50px;
}

/* ------------------------------------------------------------------------ */
/* laptop */

@media (min-width: 993px) and (max-width: 1366px) {
    .page-content {
        font-size: 18px;
        margin: 0 60px;
    }

    .hero-greeting {
        font-size: 38px;
    }

    .hero {
        font-size: 26px;
        gap: 0px;
    }

    .profile-pic {
        max-width: 200px;
        display: flex;
        align-self: flex-end;
        margin: 0 60px;
    }

    .section-heading {
        font-size: 38px;
        margin-top: 48px;
        margin-bottom: 25px;
    }
        
    .section-description {
        font-size: 18px;
    }
    
    .project-name {
        font-size: 30px;
        margin-top: 10px;
    }
    .project-row {
        margin-top: 70px;
    }
    br {
        display: none;
    }

    .project-date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 7px 0;
    }

    .project-logo {
        max-height: 65px;
    }

    .project-item:nth-child(2) {
        text-align: left;
    }
    
    .project-picture {
        max-width: 100%;
        vertical-align: middle;
        padding: 0;
    }
    
    .skills-certificates-wrapper {
        font-size: 18px;
        row-gap: 50px;
        margin-left: 60px;
    }
    
    .skill-column {
        align-items: left;
    }
    
    .skill-row {
        justify-content: center;    
    }
    
    .skill-heading {
        font-weight: bold;
        font-size: 24px;
        margin: 0;
        text-align: left;
    }
    
    .skill-description {
        text-align: left;
        margin: 0 0 10px 0;
        gap: 10px;
        align-items: center;
    }
    
    .skill-image {
        max-height: 80px;
    }

    .skill-image-vscode {
        max-height: 60px;
        align-self: baseline;
    }

    .skill-image-js {
        max-height: 70px;
    }
    
    .story-heading {
        margin-bottom: 27px;
    }
    
    .milestone {
        margin-top: 65px;
        row-gap: 10px;
        display: grid;
    
    }
    
    .milestones-wrapper {
        margin-top: 80px;
    }
    
    .milestone-headline {
        align-items: flex-end;
        justify-content: center;
    }
    .milestone-logo-img {
        max-height: 50px
    }

    .milestone-logo-img-aiesec {
        max-height: 30px;
    }

    .milestone-name {
        padding: 0;
        font-weight: bolder;
        font-size: 30px;
    }
    
    .milestone-year {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 8px;
    }
    
    footer {
        text-align: center;
        font-size: 16px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}


/* ------------------------------------------------------------------------ */
/* tablet */

@media (min-width: 769px) and (max-width: 992px) {
    .page-content {
        font-size: 18px;
        margin: 0 60px;
    }

    .hero-greeting {
        font-size: 30px;
    }

    .hero {
        margin-top: 80px;
        font-size: 20px;
        gap: 0px;
    }

    .profile-pic {
        max-width: 200px;
        display: flex;
        align-self: flex-end;
        margin: 0 60px;
    }

    .section-heading {
        font-size: 30px;
        margin-top: 48px;
        margin-bottom: 25px;
    }
        
    .section-description {
        font-size: 16px;
    }
    
    .projects-content {
        margin-left: 0px;
    }

    .project-name {
        font-size: 24px;
        margin-top: 10px;
    }
    .project-row {
        margin-top: 70px;
    }
    br {
        display: none;
    }

    .project-date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 7px 0;
    }

    .project-logo {
        max-height: 55px;
    }
    
    .project-picture {
        max-width: 100%;
        vertical-align: middle;
        padding: 0;
    }
    
    .skills-certificates-wrapper {
        font-size: 18px;
        row-gap: 50px;
        margin-left: 20px;
    }
    
    .skill-column {
        align-items: left;
    }
    
    .skill-row {
        justify-content: center;    
    }
    
    .skill-heading {
        font-weight: bold;
        font-size: 24px;
        margin: 0;
        text-align: left;
    }
    
    .skill-description {
        text-align: left;
        margin: 0;
        gap: 10px;
        align-items: center;
    }
    
    .skill-image {
        max-height: 80px;
    }

    .skill-image-js {
        max-height: 70px;
    }

    .skill-image-vscode {
        max-height: 60px;
    }
    
    .story-heading {
        margin-bottom: 27px;
    }
    
    .milestone {
        margin-top: 45px;
        row-gap: 10px;
        display: grid;
    }
    
    .milestones-wrapper {
        margin-top: 80px;
    }
    
    .milestone-headline {
        align-items: flex-end;
        justify-content: center;
    }

    .milestone-logo-img {
        max-height: 40px;
    }

    .milestone-logo-img-aiesec {
        max-height: 25px;
    }
    
    .milestone-name {
        padding: 0;
        font-weight: bolder;
        font-size: 24px;
    }
    
    .milestone-year {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 8px;
    }
    
    footer {
        text-align: center;
        font-size: 16px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

/* ------------------------------------------------------------------------ */
/* mobile */

@media (min-width: 577px) and (max-width: 768px) {
    .page-content {
        font-size: 16px;
        /* margin: 0 60px; */
    }

    .hero-greeting {
        font-size: 25px;
    }

    .hero {
        margin-top: 60px;
        font-size: 16px;
        gap: 0px;
    }

    br {
        display: none;
    }

    .profile-pic {
        max-width: 150px;
        display: flex;
        align-self: flex-end;
        margin: 0 0 0 10px;
    }

    .hero-contact-link {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: white;
        background-color: var(--main-color);
        border-radius: 32px;
        padding: 8px 12px 8px 20px; 
    }

    .hero-contact {
        margin-bottom: 40px;
    }

    .section-heading {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: -10px;

    }
        
    .section-description {
        font-size: 16px;
    }
    
    .projects-content {
        margin-left: 0px;
        background-color: #f8f9fa;
        padding-bottom: 30px;
    }

    .project-name {
        font-size: 22px;
        margin-top: 10px;
    }

    .project-row {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .project-row-reverse {
        flex-direction: column-reverse;
    }

    .project-date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 7px 0;
    }

    .project-name-date-wrapper {
        text-align: left;
        padding-left: 25px;
    }

    .project-description {
        text-align: left;
    }

    .project-logo {
        max-height: 55px;
    }

    .project-link-wrapper {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .project-picture {
        max-width: 100%;
        vertical-align: middle;
        padding: 0;
    }
    
    .skills-certificates-wrapper {
        font-size: 18px;
        row-gap: 50px;
        margin-left: 20px;
    }
    
    .skill-column {
        align-items: left;
    }
    
    .skill-heading {
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        margin-top: 30px;
        text-align: left;
    }
    
    .skill-description {
        text-align: left;
        margin: 0;
        gap: 10px;
        font-size: 16px;
        align-items: center;
    }
    
    .skill-image {
        max-height: 70px;
    }

    .skill-image-vscode {
        max-height: 50px;
    }

    .skill-image-js {
        max-height: 60px;
    }
    
    .story-heading {
        margin-bottom: 27px;
    }
    
    .milestone {
        margin-bottom: 45px;
        /* row-gap: 10px; */
        display: grid;
    }
    
    .milestones-wrapper {
        margin-top: 0px;
    }
    
    .milestone-headline {
        align-items: flex-end;
        justify-content: baseline;
    }
    
    .milestone-name {
        padding: 0;
        vertical-align: bottom;
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 0;
    }

    .milestone-logo-img {
        max-height: 30px;
    }

    .milestone-logo-img-aiesec {
        max-height: 20px;
    }
    
    .milestone-year {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
    }
    
    footer {
        text-align: center;
        font-size: 16px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

/* ------------------------------------------------------------------------ */
/* mobile xs */ 

@media (max-width: 576px) {
    .page-content {
        font-size: 16px;
        /* margin: 0 60px; */
    }

    .hero-greeting {
        font-size: 25px;
    }

    .hero {
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    br {
        display: none;
    }

    .profile-pic {
        max-width: 150px;
        display: flex;
        align-self: center;
        margin: 0 0 30px 0px;
    }

    .hero-contact-link {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: white;
        background-color: var(--main-color);
        border-radius: 32px;
        padding: 8px 12px 8px 20px; 
    }

    .hero-contact {
        margin-bottom: 40px;
    }

    .section-heading {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: -10px;

    }
        
    .section-description {
        font-size: 16px;
    }
    
    .projects-content {
        margin-left: 0px;
        background-color: #f8f9fa;
        padding-bottom: 30px;
    }

    .project-name {
        font-size: 22px;
        margin-top: 10px;
    }

    .project-row {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .project-row-reverse {
        flex-direction: column-reverse;
    }

    .project-date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 7px 0;
    }

    .project-name-date-wrapper {
        text-align: left;
        padding-left: 25px;
    }

    .project-description {
        text-align: left;
    }

    .project-logo {
        max-width: 55px;
    }

    .project-link-wrapper {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .project-picture {
        max-width: 100%;
        vertical-align: middle;
        padding: 0;
    }
    
    .skills-certificates-wrapper {
        font-size: 18px;
        row-gap: 50px;
        margin-left: 20px;
    }
    
    .skill-column {
        align-items: left;
    }
    
    .skill-heading {
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        margin-top: 30px;
        text-align: left;
    }

    
    .skill-description {
        text-align: left;
        margin: 6px 10px 0 0;
        gap: 10px;
        font-size: 16px;
        align-items: center;
    }
    
    .skill-image {
        max-height: 60px;
    }
    
    .skill-image-vscode {
        max-height: 40px;
    }

    .skill-image-js {
        max-height: 50px;
    }

    .story-heading {
        margin-bottom: 27px;
    }
    
    .milestone {
        margin-top: 45px;
        row-gap: 10px;
        display: grid;
    }
    
    .milestones-wrapper {
        margin: 0 10px;
    }
    
    .milestone-headline {
        align-items: flex-end;
        justify-content: center;
    }
    
    .milestone-name {
        padding: 0;
        font-weight: bolder;
        font-size: 20px;
    }
    
    .milestone-year {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
        /* padding: 0 0 3px 20px; */
    }
    .milestone-logo-img {
        max-height: 30px;
    }

    .milestone-logo-img-aiesec {
        max-height: 20px;
    }
    
    footer {
        text-align: center;
        font-size: 16px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}


