:root {
    --main-color: #7755FE;
    --hover-color: #6447da;
    --main-font: "Poppins", sans;
}

.page-content {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
}

.navbar {
    font-family: var(--main-font);
}

.hero-greeting {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 48px;
}

.hero {
    margin-left: 60px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    gap: 80px;
    font-size: 32px;
}

.section-heading {
    font-size: 48px;
    font-weight: bolder ;
    margin: 80px auto 68px auto;
    text-align: center;
}
    
.section-description {
    font-size: 32px;
    display: block;
    margin: 0 auto;
    text-align: center;
    }

    .hero-content-wrapper {
        flex-direction: column;
}

.hero-contact {
    margin-top: 48px;
}

.hero-contact-link {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    border-radius: 32px;
    padding: 16px 24px 16px 32px; 
}

.hero-contact-link:hover {
    color: white;
    background-color: var(--hover-color);
}

.profile-pic {
    width: 80%;
    max-width: 285px;
    display: flex;
    align-self: flex-end;
}

.projects-content {
    display: flex;
    flex-direction: column;
}
.row {
    margin: 0;
}

.project-name {
    font-weight: bolder;
    font-size: 40px;
}

.project-row {
margin-top: 110px;
/* column-gap: 40px; */
}

.project-row:first-child {
    margin-top: 35px;
}

.project-item {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.project-item:nth-child(2) {
    text-align: left;
}

.project-picture {
    max-width: 100%;
    vertical-align: middle;
    padding: 0;
}

.skills-certificates-wrapper {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 50px;
}

.skill-column {
    align-items: left;
}

.skill-row {
    justify-content: center;
    column-gap: 230px;

}

.skill-heading {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: left;
}

.skill-description {
    text-align: left;
    margin: 0;
    gap: 10px;
}

.skill-image {
    max-width: 40px;
}

.story-heading {
    margin-bottom: 27px;
}

.milestone {
    margin-top: 65px;
    row-gap: 10px;
    display: grid;

}

.milestones-wrapper {
    margin-top: 80px;
}

.milestone-headline {
    align-items: flex-end;
    justify-content: center;
}

.milestone-name {
    padding: 0;
    font-weight: bolder;
    font-size: 40px;
}

.milestone-year {
    font-size: 18px;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 50px;
}

